@import '../App.scss';
#about {
	padding-top: 80px;
}
.sectionTitle {
	text-align: center;
	margin-top: 20px;
	color: $color-green;
}
.main-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrapper {
	width: 100%;
	margin-top: 10px;
	flex: 1;
}
.about-container {
	width: 100%;
	flex: 1;
}
.wrapper .button {
	display: inline-block;
	height: 80px;
	width: 80px;
	margin: 30px 25px;
	overflow: hidden;
	background: $color-black;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}
.wrapper .button:hover {
	width: 200px;
	background-color: $color-white;
}
.wrapper .button .icon {
	display: inline-block;
	height: 80px;
	width: 80px;
	text-align: center;
	box-sizing: border-box;
	line-height: 80px;
	border-radius: 50px;
	background: $color-white;
	transition: all 0.3s ease-in-out;
}
.wrapper .button:hover .icon {
	background: $color-white;
}

.wrapper .button .icon img {
	color: $color-black;
	font-size: 25px;
	line-height: 75px;
	transition: all 0.3s ease-in-out;
}
.wrapper .button:hover .icon img {
	color: $color-black;
	font-size: 25px;
	line-height: 75px;
	transition: all 0.3s ease-in-out;
}
.icon img {
	border-radius: 20px;
}
.wrapper .button span {
	font-size: 25px;
	font-weight: bolder;
	line-height: 75px;
	margin-left: 10px;
	transition: all 0.3s ease-in-out;
}
.wrapper .button:hover span {
	color: $color-black;
	border-radius: 50px;
}
.about-container {
	width: 100vw;
	height: 100vh;
	text-align: left;
	margin: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
}
.education {
	font-size: 20px;
	width: 500px;
	height: 500px;
	margin: 20px;
	text-align: justify;
	align-items: center;
	background-color: black;
}

.card {
	background: $color-black;
	text-align: justify;
	font-size: 25px;
}
.card-text a {
	text-decoration: none;
	color: $color-green;
	font-weight: bold;
}
.unorder-lists {
	margin-top: 40px;
}
.list {
	display: flex;
}
.list-text {
	margin-left: 20px;
	margin-bottom: 20px;
}
/* Check box animation for list*/
.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #7ac142;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill 0.4s ease-in-out 0.4s forwards,
		scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes scale {
	0%,
	100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}
@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #7ac142;
	}
}

/* Skills div element styling*/
.skills {
	text-align: center;
}
.skillset {
	width: 500px;
	height: 500px;
	border-color: #eee;
	border-radius: 10px;
	border-width: 2px;

	display: grid;
	justify-content: center;
	align-content: center;
}
.skill-head {
	display: block;
	margin-top: 20px;
	color: $color-green;
}
.skillset > * {
	grid-column: 1;
	grid-row: 1;
}

.img-center {
	width: 50px;
	height: 50px;
	animation: swing 2s infinite ease-in-out;
}

.item {
	animation: spinAround 15s linear infinite;
}

.img-icon {
	animation: swing 2s infinite ease-in-out;
	background: $color-white;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	transition: all 1.3s;
}

@keyframes swing {
	0%,
	100% {
		transform: rotate(-90deg);
	}
	20% {
		transform: scale(2);
	}
	50% {
		transform: rotate(90deg);
	}
	80% {
		transform: scale(2);
	}
}

@keyframes spinAround {
	0% {
		transform: rotate(0deg) translate(160px) scale(0.7) rotate(0deg);
	}
	100% {
		transform: rotate(359deg) translate(160px) scale(0.7) rotate(-359deg);
	}
}

@media screen and (min-width: 600px) and (max-width: 909px) {
	.skills {
		margin-top: -120px;
		margin-bottom: 10px;
	}
	.skill-head {
		margin-top: -120px;
	}
	.education {
		margin-bottom: 10px;
	}
	.about-container {
		flex-direction: row;
	}
	.skillset {
		margin: 10px;
		margin-top: 10px;
		width: 250px;
		height: 250px;
		align-content: center;
	}
	.img-center {
		width: 35px;
		height: 35px;
		animation: swing 2s infinite ease-in-out;
	}

	.item {
		animation: spinAround 15s linear infinite;
	}

	.img-icon {
		animation: swing 2s infinite ease-in-out;
		background: $color-white;
		width: 35px;
		height: 35px;
		border-radius: 10px;
		transition: all 1.3s;
	}
	@keyframes spinAround {
		0% {
			transform: rotate(0deg) translate(100px) scale(0.7) rotate(0deg);
		}
		100% {
			transform: rotate(359deg) translate(100px) scale(0.7)
				rotate(-359deg);
		}
	}
	.skill-head {
		color: $color-green;
		margin-top: 120px;
	}
}

@media screen and (min-width: 910px) and (max-width: 1024px) {
	.about-container {
		flex-direction: column;
	}
	.skillset {
		margin: 10px;
		margin-top: -80px;
		width: 250px;
		height: 500px;
	}
	.img-center {
		width: 25px;
		height: 25px;
		animation: swing 2s infinite ease-in-out;
	}

	.item {
		animation: spinAround 15s linear infinite;
	}

	.img-icon {
		animation: swing 2s infinite ease-in-out;
		background: $color-white;
		width: 25px;
		height: 25px;
		border-radius: 10px;
		transition: all 1.3s;
	}
	@keyframes spinAround {
		0% {
			transform: rotate(0deg) translate(100px) scale(0.7) rotate(0deg);
		}
		100% {
			transform: rotate(359deg) translate(100px) scale(0.7)
				rotate(-359deg);
		}
	}
	.skill-head {
		color: $color-green;
		margin-top: 150px;
	}
}
@media screen and (max-width: 599px) {
	.skillset {
		width: 300px;
		height: 500px;
		margin-top: 0px;
	}
	.skills {
		margin-top: 50px;
	}
	.img-center {
		width: 30px;
		height: 30px;
		animation: swing 2s infinite ease-in-out;
	}

	.item {
		animation: spinAround 15s linear infinite;
	}

	.img-icon {
		animation: swing 2s infinite ease-in-out;
		background: $color-white;
		width: 30px;
		height: 30px;
		border-radius: 10px;
		transition: all 1.3s;
	}
	@keyframes spinAround {
		0% {
			transform: rotate(0deg) translate(100px) scale(0.7) rotate(0deg);
		}
		100% {
			transform: rotate(359deg) translate(100px) scale(0.7)
				rotate(-359deg);
		}
	}
	.skill-head {
		color: $color-green;
	}
	.wrapper .button .icon img {
		height: 50px;
		width: 50px;
	}
	
}
